.vs/OpenMRS/v16/Server/sqlite3/storage.ide-wal
.vs/OpenMRS/v16/Server/sqlite3/storage.ide-shm
.vs/OpenMRS/v16/Server/sqlite3/storage.ide
.vs/OpenMRS/v16/Server/sqlite3/db.lock
.vs/OpenMRS/v16/.suo
.vs/OpenMRS/config/applicationhost.config
.vs/OpenMRS/DesignTimeBuild/.dtbcache
